@font-face {
    font-family: 'Jester';
    src: url('fonts/Jester.ttf') format('truetype');
  }

/* styles des inputs supprimés */
  .range-slider {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1em 0;
  }